.App {
  text-align: center;
}

body {
  background: black;
  box-sizing: border-box;
  color: white;
}

.display {
  max-width: 500px;
}

img {
  width: 100vw;
  max-width: 500px;
  margin-bottom: -20px;
  /* margin-top: -85px; */
}

h1, h2 {
  padding-top: 50px;
  margin: 0;
}

h2 {
  padding-top: 45px;
}

h4 {
  margin: 0;
  margin-bottom: 65px;
}

.pink {
  background: black;
  background: navy;
  background: slategray;
  border-radius: 50%;
  border: 2px solid white;
}

.flex {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}