.App {
  text-align: center;
}

body {
  background: black;
  box-sizing: border-box;
  color: white;
}

.display {
  max-width: 500px;
}

img {
  width: 90vw;
  max-width: 500px;
  margin-bottom: -20px;
  border-radius: 150px;
}

h1 {
  padding-top: 50px;
  margin: 0;
  font-size: 2.25rem;
}

h4 {
  margin: 0;
  margin-bottom: 65px;
}

.pink {
  background: slategray;
  border-radius: 50%;
  margin: 5px;
}

.flex {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}