.App {
  text-align: center;
}

body {
  background: black;
}

.display {
  max-width: 500px;
  margin: 0 auto;
  /* background: white; */
  min-height: 100vh;
}

img {
  /* height: 450px; */
  width: 100vw;
  margin-top: -50px;
  margin-bottom: -5px;
}

h1, h2 {
  padding-top: 15px;
  margin: 0;
}

h4 {
  margin: 0;
  margin-bottom: 25px;
}

.pink {
  background: pink;
  background: dimgray;
  background: lightblue;
  /* border-radius: 50%; */
}

.display {
  background: black;
  color: white;
}